<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <!-- Style.css -->
    <link rel="stylesheet" href="css/style.css" />
    <title>Durak Sorgulama Sistemi</title>
</head>

<body>
    <div class="container mt-3">
        <div class="row mb-3">
            <h1 class="mx-auto text-center">Durak Sorgulama Sistemi</h1>
        </div>
        <div class="row h-75vh">
            <div class="col-sm-4 border pt-3 d-flex align-items-center justify-content-center rounded fill">
                <ul class="list-group fill">
                    <li class="list-group-item">
                        <label for="search-station" class="font-weight-bold">Durak arayın</label>
                        <input class="form-control" id="search-station" placeholder="Yıldız Durağı gibi...">
                    </li>
                    <li class="list-group-item invisible" id="stationInfo"></li>
                    <hr class="mt-auto">
                    <button type="button" class="btn btn-outline-secondary mb-3" id="btn-station">Bana yakın
                        durakları göster!</button>
                </ul>
            </div>
            <div class="col-sm-8 fill">
                <div id="map" class="rounded"></div>
                <!--Map-->
            </div>
        </div>
    </div>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <!-- Map.js -->
    <script src="js/map.js"></script>
</body>

</html>